@page "/lobby"
@inherits LobbyBase

<h1 class="card-title">Lobby</h1>
<button type="button" @onclick="AddNewTable">Add New Table</button>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Tables</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Tables)
        {
            <tr>
                <td><a href="@($"/tableview/{table.Id}")" class="table-responsive-md">Table @table.Id</a> </td>
            </tr>
        }
    </tbody>
</table>



